header{
       background-color:#343323;
color: #ffff00;
}

nav{
       background-color:#89767D;


}


section{
        
       background-color:#456BBD;
       width:60%;
}


aside{
      
       background-color:#89767A;
       width:30%;
       magin-left:65%;
       margin-top:-4%;
}


footer{
       
       background-color:#FF3456;
"estilo.css" 23L,  274C escritos

}
       
